<%= form_for(@product) do |f| %>
  <%= render :partial => 'shared/errors', :locals => { :rec => @product } %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <% Category.all.each do |cat| %>
    <%= cat.name %>
    <%= check_box_tag :category_ids,
                      cat.id,
                      @product.categories.include?(cat),
                      :name => 'product[category_ids][]' %>
    <br/>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
